

<nav class="navbar" id="menu-top-wrapper" role="navigation" aria-label="main navigation">
<div class="container">


    <div id="static-top-menu" class="navbar-menu">
        <div class="navbar-start inner-menu">
            <a class="navbar-item">
                Community
            </a>

            <a class="navbar-item">
                Reseller Information
            </a>
            <a class="navbar-item">
                 About
            </a>
            <a class="navbar-item">
                Blog
            </a>
            <a class="navbar-item">
                Documentation
            </a>
            <a class="navbar-item">
                Support/Contact
            </a>

        </div>

        <div id="next-day-delivery" class="is-pulled-right">
            <a href="https://e3d-online.com/next-day-delivery"  class="navbar-item " >Next Day Delivery
                <i class="fa fa-truck"></i>
            </a>
        </div>



</div>



    </div>
</nav>
