
<?php

$objectManager =  \Magento\Framework\App\ObjectManager::getInstance();
$categoryCollection = $objectManager->get('\Magento\Catalog\Model\ResourceModel\Category\CollectionFactory');
$categoryHelper = $objectManager->get('\Magento\Catalog\Helper\Category');
$categories = $categoryHelper->getStoreCategories();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$baseUrl=$storeManager->getStore()->getBaseUrl();

?>
<div class="nav-container">
    <nav class="navbar-primary">

        <ul>
            <?php foreach($categories as $key=>$category) : ?>
            <?php
                $subcategory = $objectManager->create('Magento\Catalog\Model\Category')->load($category->getData('entity_id'));
                $subcats = $subcategory->getChildrenCategories();
                ?>

            <li id="hotend-top-nav" class="top-level">
                <a class="top-level-a" href="<?php echo $baseUrl.$category->getData('request_path'); ?>">
                    <?php echo $category->getName() ;?>
                </a>
                <div class="ul-container ">
                    <ul class="hotend-header menu-below hotend-top-nav menu_common container">
                        <?php foreach ($subcats as $key=>$value) : ?>
                        <?php
                            $image = $objectManager->create('Magento\Catalog\Model\Category')->load($value->getId())->getImageUrl();
                            ?>
                        <li class="second-level">
                            <a href="<?php echo $baseUrl.$value->getData('request_path')?>">
                                <img class="white-ic" src="<?php echo $image; ?>" style="display: inline;">
                                <span class="sub-menu-static">
                                    <span class="navbar-dropdown-heading"><?php echo $value->getName(); ?></span>
                                </span>
                            </a>
                        </li>
                        <?php endforeach; ?>

                    </ul>
                </div>
            </li>

            <?php endforeach; ?>

        </ul>
    </nav>
</div>