// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

@import 'module/_collapsible_navigation.less';

//
//  Theme variables
//  _____________________________________________

//  Messages
@message-global-note__color: @text__color;
@message-global-note__background: @color-yellow-light2;
@message-global-note-link__color: @link__color;
@message-global-note-link__color-hover: @link__hover__color;
@message-global-note-link__color-active: @link__active__color;
@message-global-note__border-color: @color-yellow-light3;

@message-global-caution__color: @color-white;
@message-global-caution__background: @color-red9;
@message-global-caution-link__color: @link__color;
@message-global-caution-link__color-hover: @link__hover__color;
@message-global-caution-link__color-active: @link__active__color;
@message-global-caution__border-color: none;

@header__background-color: false;
@header-panel__background-color: @color-gray-middle4;
@header-panel__text-color: @color-white;
@header-icons-color: @color-gray46;
@header-icons-color-hover: @color-gray20;
@customer-welcome__z-index: @dropdown-list__z-index + 1;

@addto-color: @color-gray40;
@addto-hover-color: @primary__color;
@minicart-icons-color: @header-icons-color;
@minicart-icons-color-hover: @header-icons-color-hover;

@price-color: @color-gray34;
@price-size: 22px;
@price-size-desktop: 36px;

@button__shadow: inset 0 1px 0 0 rgba(255, 255, 255, 1), inset 0 -1px 0 0 fade(@border-color__base, 30); // Used for secondary button and catalog toolbar controls
@button__shadow-active: inset 0 1px 0 0 fade(@border-color__base, 80), inset 0 -1px 0 0 fade(@border-color__base, 30); // Used for secondary button and catalog toolbar controls

@h1__margin-bottom__desktop: @indent__xl;

//  Footer
@footer__background-color: @color-gray-light01;
@footer-links-separator-border-color: @color-gray-light4;
@footer-links-color: @color-gray34;
@footer-links-color-hover: @color-gray20;
@footer-links-color-current: @primary__color__light;

//  Layered navigation
@filter-title-background-color: @color-gray94;
@filter-link: @color-gray-darken4;
@filter-link-hover: darken(@filter-link, 30%);
@filter-quantity: @color-gray46;

//
//  Common
//  _____________________________________________

@shade-10: #2c3e50;
@shade-1: #d7dcdf ;
@shade-0: #fff;
@teal: #1abc9c;

body{
  font-family: Roboto Mono;

}
a,a:hover,a:visited{
  text-decoration: none;
}
.navbar{
  height: 40px;
}
.page-header{
  background: rgba(0,0,0,0.05);

}
.page-main{
  width: 100%;

}
.page-wrapper{
  height: 3600px;
}
#menu-top-wrapper{
  width: 100%;
  height:40px;
  box-shadow: 3px -4px 9px rgba(0, 0, 0, 0.1);
}

.inner-menu >a {
  color: #777;
  font-size: 13px;
  line-height: normal;
  padding:10px 5px;
  text-decoration: none;
  opacity: .6;
  margin-right: 3%;
}
.inner-menu >a:hover{
  color: black;
  border-bottom: 2px solid #8bce17;
}
#next-day-delivery >a {
  color: #cecb17;
  font-size: 12px;
  font-family: "Roboto Mono";
  font-weight: 700;
  text-decoration: none;
  vertical-align: top;
}
#next-day-delivery > a > i{
  margin-left: 20px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  font-size: 20px;
}
.header{
  width: 1440px !important;
  margin-bottom: 10px;
  margin-top:20px;
  text-align: center;
  height: 60px;
  position: relative;
}
.logo{
  float: left;
}
.top-right-wrapper{
  width: 220px;
  height: 60px;
  float:right;

}
.minicart-wrapper{
  background-color: #8bce17;
  height: 50px;
  width:50px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  box-shadow: 0 0 4px rgba(0,0,0,.1), 0 4px 4px rgba(0,0,0,.1);
  float:left;

}
.shopping-basket{

  position: absolute;
  left: 0px;
  top:12px;

}

.switcher-currency,.other-head{
  background-color: #fff;
  height: 50px;
  width:50px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  position:relative;
  box-shadow: 0 0 4px rgba(0,0,0,.1), 0 4px 4px rgba(0,0,0,.1);
  float:left;

}
.switcher-currency{
  margin-left: 20px;
}
.switcher-options:hover{
  .switcher-dropdown{
    display: block;
  }
}
.icon-top-2:hover{
  .myaccount-dropdown{
    display: block !important;
  }
  color: #000;
}
.other-head a {
  color: #8bce17;
  font-weight: 400;
  text-decoration: none;
  padding: 7px 15px;
}

.myaccount-dropdown {
  background: #fff none repeat scroll 0 0;
  border-radius: 4px;
  left: 8px;
  position: absolute;
  right: auto;
  text-align: center;
  top: 65px;
  width: 200px;
  z-index: 99;
  box-shadow: 0 1px 4px rgba(0,0,0,.15);
}
.myaccount-dropdown > ul{
  list-style: none;
}
.other-head{
  margin-left: 10px;
}
.icon-top{

  font-size: 18px;
  color:#fff;
  margin:auto;
}
.icon-top-2{

  font-size: 18px;
  color:#8bce17;
  position: absolute;
  left: 13px;
  top:12px;
}
.icon-top-3{

  font-size: 18px;
  color:#8bce17;
  position: absolute;
  left:-5px;
  top:17px;
}

.block-search{
  position: absolute;
  top:5px;
  right:30%;
  background: #8bce17 none repeat scroll 0 0;
  border-radius: 6px;
  height: 50px;
  box-shadow: 0 0 4px rgba(0,0,0,.1);
  display: inline-block;
  float: none;
  margin-left: 0;
  margin-top: 6px;
  width: 200px;
  padding: 0;
  max-height: 48px;
  z-index: 9999;
}
.search-input{
  position: absolute;
  top:0px;
  left: 150px;
  width: 380px;
  height: 52px;

}
.search{
  height: 48px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  width: 150px;
  padding-top: 12px;
}
.browse-button {
  clear: both;
  color: #fff;
  display: block;
  margin:auto;
  text-decoration: none;
  width: 162px;

}
.browse-button :hover{

  color: #fff;
  text-decoration: none;


}
.browse-button:visited{
  color: #fff;
  text-decoration: none;
}
.control {
  font-size: 1rem;
  position: relative;
  text-align: left;

}


.currency-icon{
  color: #8bce17;
}
.page-header .switcher{
  color: #8bce17;
}
#counters{
  background:#1084b6;
  border-radius: 50%;
  display: inline-block;
  height: auto;
  line-height: 24px;
  margin: 0;
  min-width: 24px;
  opacity: .8;
  overflow: hidden;
  padding: 0 3px;
  position: absolute;
  text-align: center;
  white-space: normal;
  top: -23px;
  left: 17px;
  color: #fff;
}
.nav-sections{
  height: 60px;
}

.navbar-primary >ul{
   height: 48px;
 }
/*top menu*/
.nav-sections{
  display: none;
}
.nav-container{

  background: #1084b6;
  height: 52px !important;
}
.navbar-primary {
  width: 60%;
  height: 50px;
  display: table;
  text-align: center;
  padding: 0;
  margin: 0 auto;
  background: #1084b6;

}
.top-level{
  display: inline-block;
  float:left;
  margin:0 0 0 30px;
  max-width: 170px;
  width: auto;
  height: 50px;
}
#upgrade-top-nav,#printer-top-nav{
  width: 164px;

}
.blue-ic{
  z-index: 999998;
  display: none;
  position: absolute;
  top:0px;
  left:65px;
}
.white-ic{
  z-index: 999999;
}

.top-level-a {
  font-weight: 700;
  color: #8ac4dd;
  font-size: 16px;
  text-decoration: none;
  display: block;
  padding: 13px 0px 13px 0px;
  text-transform: uppercase;
  border-bottom: 2px solid #1084b6;
  width: auto;
}
.top-level:hover{
  .ul-container{
    display: block;
  }
  .top-level-a{
  border-bottom: 2px solid #fff;
  color:#fff;
  }

}
.ul-container{
  display: none;
  width: 100%;
  position: absolute;
  height: auto;
  background: #0e74a0;
  left: 0;
  list-style: none;
  z-index: 999999;
}
.second-level{
  width: 220px;
  height: 200px;
  display: inline-block;
  float:left;
  position: relative;

}
.second-level >a>img{
  margin-top: 20px;
}
.second-level a {
  width: 220px;
  height: 200px;
}
.second-level:hover{
  background: #fff;

  .white-ic{
    display: none;

  }
  .blue-ic {
    display: block;

  }
  .sub-menu-static>span{
    color:#0e74a0;
  }

}
.navbar-dropdown-heading{
  position: absolute;
  bottom:5px;
  left:60px;

}
/*end top menu*/

.navbar-dropdown-heading{
  color: #fff;
}
.white-ic,.blue-ic{
  height: 100px;
  width: auto;
  margin: 0px auto 0 auto;
}

.blue-ic{
  display: none;
}
#test{
  background: white;
}
.footer-logo{
  padding-top: 100px;
  width: 100%;
  text-align: center;
  clear: both;
  position: absolute;
  bottom: 0px;

}
.footer-logo img {
  margin-bottom: -45px;
  position: relative;
  z-index: 9;
}

.copyright{
  background-color:#f2f2f2;
  display: block;
  padding: 60px 0 20px;
  text-align: center;
}
.copyright>span{
  margin-bottom: 1px;
  text-align: center;
  color: #777;
}
.list-unstyled>li>a{
  color: #777;
  font-size: 14px;
  line-height: normal;
  padding:10px 5px;
  text-decoration: none;
  opacity: .6;
  margin-right: 3%;
}
.list-unstyled>li{
  list-style: none;
}
.footer-heading{
  display: block;
  line-height: normal;
  font-weight: 500;
  color: #333
}
.footer{
  position: relative;
  background:#fff;
}
.block-search input {

  margin: 0;
  padding-right: 35px;
  position: static;
  height: 48px;
  border-radius: 0 4px 4px 0;
  border-image: none;
  border-style: none none none solid;
  border-width: medium medium medium 1px;
  left: -300%;
}

.newsletter{
  display: block;
  width: 40%;
}
.trade-account  {
  background: #8bce17 none repeat scroll 0 0;
  color: #fff;
  display: inline-block;
  margin-left: 2%;
  margin-top: 34px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 4px 0 4px rgba(0,0,0,.1);
}
.trade-content {
  display: table;
}
.trade-account a {
  color: #fff;
  text-decoration: none;
}
.social-wrapper img {
  width: 40px;
}
 .trade-wrapper {
  display: table-cell;
  padding: 15px 10px;
  vertical-align: top;

}
 .trade-img{
   background: rgba(0,0,0,0.05);
 }
 .trade-img  img{
   padding-top: 20px;
   padding-left: 20px;

 }
 .trade-content-title{
   padding:10px 0 10px 10px;
   color:#fff !important;
 }
 .trade-content-text{
   padding:0 0 10px 10px;
   color:#333 !important;
   opacity: 0.6;
 }
.social-wrapper {
  float: left;
  margin: 20px 0 0 15px;

}
.trade-content-title{
  color: #fff;
}
.trade-content-text{
  color:#333;
}
#name,#newsletter{
  border: none;
  box-shadow: none;
  font-family: "Roboto Mono";
  font-size: 14px;
  background-color: #f2f2f2;
  height: 46px;
  padding: 10px 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  width: 300px;
}
 #newsletter {
  margin: 22px 0 0;
}
 #name{
   margin: 22px 0 0;
 }
 .btn-submit-bot{
   color: #8bce17;
   font-weight: 600;
   padding: 0;
   font-size: 14px;
   cursor: pointer;

 }
.btn-submit-bot:hover{
  text-decoration: none;
}
.choice{
  width: 300px;
}

.subscribe-footer-msg {
  display: inline;
  float: right;
  text-align: right;
  opacity: .6;
}

.overlay {
  position: absolute;
  z-index: 100;
  width: 700px;
  padding: 40px 0;
  margin-top: -40px;
}
.big-button,.big-button:hover {
  background: #8bce17;
  border: none;
  border-radius: 6px;
  font-family: Roboto Mono;
  text-decoration: none;
  padding: 5px 10px;

  width: 150px;
  height: 44px;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  font-size: 18px;
  box-shadow: inset 0 1px 0 0 #fff, inset 0 -1px 0 0 rgba(204,204,204,.3);
  text-transform: uppercase;
  margin: auto;
}

.animated:hover{


  transition: transform .5s ease;
  transform: translateY(-8px);

}
.vertical-seperator {
  background: #1984b6;
  width: 2px;
  border-radius: 2px;
  height: 63px;
  margin: 60px;
}
.product {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
}
.product:hover{
  .shadow{
    width: 50px;
    opacity: 0.06;
    transition: all .3s ease-in-out;

  }
}
.main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.centre {
  margin: 0 auto;
  width: 100%;
  min-height: 300px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0 0 20px;
}
.comment {
  color: #6e6d66;
  font-weight: 300;
  padding: 0;
  width: 100%;
  font-size: 14px;
  font-family: sans-serif;
  text-align: center;
}
.hero {

  text-align: center;
  position: relative;
  padding: 40px 0;
  transition: all 1s ease;
  height: 450px;
  max-height: 550px;

}
.shadow {
  width: 40px;
  height: 10px;
  border-radius: 100%;
  content: "";
  background: #000;
  opacity: .05;
  margin: 20px auto 0 auto;
  transition: width .5s ease;
  position: absolute;
  bottom: 150px;
  left:200px;
}
.video{
  height:auto;
}
.splash{
  background: url(https://static.e3d-online.com/media/wysiwyg/tct-bg.png) center;
  background-size: cover;
  text-align: center;
}
section {
  width: 100%;
  float: left;
  text-align: center;
  padding: 60px 0;
}
h2 {
  color:#000;
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin:0 0 30px 0;
  font-weight: 400;
}
#h{
  display: block;
  padding:50px 0 20px 0;
}
.oem-list >li> img {
  width: auto;
  max-height: 77px;
  vertical-align: middle;
  padding:0px 20px 0px 20px ;
}
.oem-list {
  padding: 0;
  margin: 20px auto 0 auto;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.scroll-container {
  width: 1444px;
  margin: 0 auto;
  overflow: hidden;
}
.scroll-container >li{
  max-width: 260px;
  width: 260px;
}
.info {
  z-index: 50;
  padding: 20px 0;
  background: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-top: -5px;
  white-space: normal;
}
.tag {
  font-family: sans-serif;
  color: red;
  text-transform: uppercase;
  font-weight: 500;
}
.feed{

  background: #f5f6f2;
  height: 547px;
  position: relative;
  text-align: center;
}
.playbutton {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.hideRight{
  display: none;
}
.twitter {
  background-size: contain;
  content: "";
  width: 24px;
  margin: 0 auto;
  display: block;
  height: 24px;
}
.row-slider-scroll{
  margin:auto auto 30px auto;
  width: 228px;

}

@green: #7AD175;
.range-slider {

  margin: auto;
  border-radius: 2px;
  overflow: hidden;
}

.center-scroll {
  align-items:center;
  display: flex;
  height: 100%;
  justify-content: center;
}

input[type=range] {
  -webkit-appearance: none;
  background: #f5f6f2;
  border-radius: 4px;
  height: 30px;
  padding: 5px 20px;
  width: 270px;

  &:focus {
    outline: none;
  }

  &::-webkit-slider-runnable-track {
    width: 270px;
    height: 4px;
    cursor: pointer;
    background: @green;
    border-radius: 4px;

  }

  &::-webkit-slider-thumb {
    height: 24px;
    width: 24px;
    border-radius: 24px;
    background: #f5f6f2;
    border: 2px solid @green;

    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -10px;
  }

  &:focus::-webkit-slider-runnable-track {
    background: rgba(0,0,0,0.1);
  }
  &::-moz-range-track {
    width: 270px;
    height: 4px;
    cursor: pointer;
    background: rgba(0,0,0,0.1);
    border-radius: 4px;

  }
  &::-moz-range-thumb {
    height: 24px;
    width: 24px;
    border-radius: 24px;
    background: #FFF;
    border: 2px solid @green;

    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -10px;
  }
  &::-ms-track {
    width: 100%;
    height: 13px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  &::-ms-fill-lower,
  &::-ms-fill-upper {
    background: #FFF;
    border: 2px solid @green;
    border-radius: 24px;
  }
  &::-ms-thumb {
    height: 24px;
    width: 24px;
    border-radius: 24px;
    background: #FFF;
    border: 2px solid @green;

    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -10px;
  }
  &:focus::-ms-fill-lower,
  &:focus::-ms-fill-upper {
    outline: none;
  }
}

.custom-login-footer{
  position: relative;

}
