<div class="hero">


<section class="main-products">
    <div class="page-container">

        <a href="https://e3d-online.com/high-temperature-range">
            <div class="hero full white">
                <div class="main columns">
                    <div class="centre column is-8">
                        <div class="product" style="width:520px;">
                            <img class="half animated" src="https://static.e3d-online.com/media/wysiwyg/beds.png">
                            <img class="half animated" src="https://static.e3d-online.com/media/wysiwyg/HTC240X240.jpg">
                        </div>
                        <div class="vertical-seperator " style="background-color:red;"></div>
                        <div class="product-info column">
                            <div class="new-tag" style="background:none; font-size:36px; text-transform:uppercase; color:#e51b3f;">New</div>
                            <h5 style="color:#6e6d66;">High Temperature Range</h5>
                        </div>
                    </div>
                </div>

                <button class="big-button" href="/" style="background-color:#e51b3f;">Browse Now</button>
            </div>
        </a>
    <div class="columns is-gapless section">
        <a href="https://e3d-online.com/prusa-upgrades " class="column ">
            <div class="hero half mist" style="background: #fbbc66;">
                <div class="main">
                    <div class="centre">
                        <div class="product">
                            <img class="animated" src="https://static.e3d-online.com/media/wysiwyg/pimp-prusa-upgrades.png"><span class="shadow"></span>
                        </div>
                        <div class="vertical-seperator" style="background: #fa6823;"></div>
                        <div class="product-info">
                            <p class="comment">Pimp your Prusa 3D printer</p>
                        </div>
                    </div>

                    <p class="comment">Choose from a variety of nozzles and more</p>

                </div>
                <button class="big-button">Browse Now</button>
            </div>
        </a>


        <a href="https://e3d-online.com/lulzbot-spares " class="column">
            <div class="hero half mist" style="background:#d5e852;">
                <div class="main">
                    <div class="centre">
                        <div class="product">
                            <img class="animated" style="height:172px;" src="https://static.e3d-online.com/media/wysiwyg/lulzbot-taz-6.png"><span class="shadow"></span>
                        </div>
                        <div class="vertical-seperator" style="background: #9fb314;"></div>
                        <div class="product-info">
                            <p class="comment">Level-up your LulzBot 3D printer</p>
                        </div>
                    </div>

                    <p class="comment">Upgrades and spares to suit any toolhead</p>

                </div>
                <button class="big-button">Browse Now</button>
            </div>
        </a>

    </div>
    <div class="columns is-gapless section">
        <a href="https://e3d-online.com/v6-all-metal-hotend" class="column">
            <div class="hero half mist">
                <div class="main">
                    <div class="centre">
                        <div class="product">
                            <img class="animated" src="https://static.e3d-online.com/media/wysiwyg/home_v6-built-sock-3.png"><span class="shadow"></span>
                        </div>
                        <div class="vertical-seperator"></div>
                        <div class="product-info">
                            <p class="comment">the market leading</p>
                            <h5>V6</h5>
                        </div>
                    </div>

                    <p class="comment">all temperatures, all filaments, all metal</p>

                </div>
                <button class="big-button">Build Now</button>
            </div>
        </a>



        <a href="https://e3d-online.com/titan-aero" class="column">
            <div class="hero half grey">
                <div class="main">
                    <div class="centre">
                        <div class="product">
                            <img class="animated" src="https://static.e3d-online.com/media/wysiwyg/home_titan-aero-built-sock.png"><span class="shadow"></span>
                        </div>
                        <div class="vertical-seperator"></div>
                        <div class="product-info">
                            <img class="full" src="https://static.e3d-online.com/media/wysiwyg/home_Aero_Charcoal.png">
                        </div>
                    </div>
                    <p class="comment">compact two-in-one hotend and extruder</p>
                </div>
                <button class="big-button">Build Now</button>
            </div>
        </a>
    </div>
    <div class="columns is-gapless section">
        <a href="https://e3d-online.com/spoolworks-flexd" class="column">
            <div class="column half video">
                <div class="overlay">
                    <div class="main">

                        <div class="centre">
                            <div class="product">
                                <img src="https://static.e3d-online.com/media/wysiwyg/home_fleXD-logo-2.png">
                            </div>
                        </div>
                        <p class="comment">flexible shock-absorbing filament</p>
                    </div>

                    <button class="big-button">Buy Now</button>

                </div>
                <div class="video_contain">
                    <video class="hover-video" id="mp4" width="100%" autoplay="" loop="" muted="">
                        <source src="https://static.e3d-online.com/static/version1520934843/frontend/E3donline/default/en_US/video/flexd-vid-25fps-900x506.mp4" type="video/mp4">
                        <source src="https://static.e3d-online.com/static/version1520934843/frontend/E3donline/default/en_US/video/flexd-vid-25fps-900x506.webm" type="video/webm">
                        <img src="https://static.e3d-online.com/media/wysiwyg/home_flex-vid-fallback.jpg" title="Your browser does not support the <video> tag">
                    </video>
                </div>
            </div>
        </a>

        <a href="https://e3d-online.com/catalogsearch/result/?q=duet" class="column">
            <div class="column half mist">
                <div class="main">
                    <div class="centre">
                        <div class="product">
                            <img class="animated" src="https://static.e3d-online.com/media/wysiwyg/duet-board-4.png"><span class="shadow"></span>
                        </div>
                        <div class="vertical-seperator" style="background-color:#040073;"></div>
                        <div class="product-info">
                            <img src="https://static.e3d-online.com/media/wysiwyg/duet3d.png">
                        </div>
                    </div>
                    <p class="comment">control your printer with Duet - the best in 3D printing electronics</p>
                </div>
                <button class="big-button">View Range</button>
            </div>
        </a>
    </div>

    </div>

</section>
<section style="background:url(https://static.e3d-online.com/media/wysiwyg/tct-bg.png) center; background-size: cover;" class="splash">
    <img width="160px" src="https://static.e3d-online.com/media/wysiwyg/tct-logo.png" '="">
    <p class="comment" style="color: #fff; padding:0 40px; text-shadow: #565656 0 0 2px; font-size: 18px;margin-top: 40px !important;">
        We are the proud winners of this years TCT Hardware Award (Polymer Systems)! Thanks for all your ongoing support with the E3D Toolchanger
    </p>
</section>
<section class="oems">
    <div class="page-container">
        <h2>Serving the Community</h2>
        <p class="comment">we are proud to provide hotends and services to these industry names</p>
        <ul class="oem-list">
            <li><img src="https://static.e3d-online.com/media/wysiwyg/prusa.png" '=""></li>
            <li><img src="https://static.e3d-online.com/media/wysiwyg/dagoma.png" '=""></li>
            <li><img src="https://static.e3d-online.com/media/wysiwyg/lulzbot.png" '=""></li>
            <li><img src="https://static.e3d-online.com/media/wysiwyg/german-reprap.png"></li>
            <li><img src="https://static.e3d-online.com/media/wysiwyg/kodak.png" '=""></li>
            <li><img src="https://static.e3d-online.com/media/wysiwyg/leapfrog.png"></li>
            <li><img src="https://static.e3d-online.com/media/wysiwyg/sculpto.png"></li>
            <li><img src="https://static.e3d-online.com/media/wysiwyg/duet3d.png"></li>
        </ul>
    </div>

</section>
<div class="feed">
    <h2 id="h" >Keep Up.</h2>
    <ul class="feed row-slider" data-show="5" style="height: 317.6px;">
        <div class="page-container">
            <div class="scroll-container columns">


                <li class="column" id="1">
                    <a href="https://e3d-online.com/blog/?p=945">

                        <img src="<?php echo $block->getUrl("pub/media/feed/")?>1.png"/>

                        <div class="info">
                            <span class="tag blog">Blog</span>
                            <h4>A Case Study in Collaboration with Aleph Objects, Inc</h4>
                        </div>

                    </a>
                </li>

                <li class="column" id="2">
                    <a href="https://e3d-online.com/blog/?p=892">

                        <img src="<?php echo $block->getUrl("pub/media/feed/")?>2.png">

                        <div class="info">
                            <span class="tag blog">Blog</span>
                            <h4>⚠️ E3D's High Temperature Products Have Launched ⚠️</h4>
                        </div>

                    </a>
                </li >

                <li data-placement="2" class="column" id="3">
                    <a href="https://twitter.com/E3DOnline/status/966747682554482689">
                        <img src="<?php echo $block->getUrl("pub/media/feed/")?>3.png">
                        <div class="info">
                            <span class="tag product" style="color:#ff7800;">Event</span>
                            <h4>We will be showcasing our toolchanger at ERRF 2018! See you there!</h4>
                        </div>
                    </a>
                </li>
                <li data-placement="3" class="column" id="4">
                    <video class="tweet-vid clickplay" width="100%" autoplay="" loop="" muted="">
                        <source src="https://static.e3d-online.com/static/version1520934843/frontend/E3donline/default/en_US/video/home_tweet-vid-toolchanging.mp4" type="video/mp4">
                        <source src="https://static.e3d-online.com/static/version1520934843/frontend/E3donline/default/en_US/video/home_tweet-vid-toolchanging.webm" type="video/webm">
                    </video>
                    <div class="playbutton">
                        <div>

                        </div>
                    </div>
                    <a href="https://twitter.com/E3DOnline/status/966747682554482689">
                        <div class="info">
                            <span class="tag twitter"></span>
                            <h4 class="tweet">This is what we're bringing to #MRRF2018 See you there. #Toolchanging @MidwestRRfest @toms3dp @RichRap3D @lulzbot3D @MattStultz</h4>
                        </div>
                    </a>
                </li>
                <li class="column" id="5">
                    <a href="https://e3d-online.com/blog/?p=885">

                        <img src="<?php echo $block->getUrl("pub/media/feed/")?>4.png">

                        <div class="info">
                            <span class="tag blog">Blog</span>
                            <h4>E3D Tool-Changer and Motion System: Beta 30 incoming!</h4>
                        </div>

                    </a>
                </li>

                <li class=" column" id="6" style="display: none;">
                    <a href="https://e3d-online.com/blog/?p=775">

                        <img src="<?php echo $block->getUrl("pub/media/feed/")?>5.png">

                        <div class="info">
                            <span class="tag blog">Blog</span>
                            <h4>My month as a special guest at E3D</h4>
                        </div>

                    </a>
                </li>

                <li data-placement="6" class=" column" id="7" style="display: none;">
                    <a href="https://e3d-online.com/dual-extrusion-hotend">
                        <img src="<?php echo $block->getUrl("pub/media/feed/")?>6.png">
                        <div class="info">
                            <span class="tag product">New Product</span>
                            <h4>Cyclops+ and Chimera+ Multi-extrusion hotends</h4>
                        </div>
                    </a>
                </li>
                <li class=" column" id="8" style="display: none;">
                    <a href="https://e3d-online.com/blog/?p=657">

                        <img src="<?php echo $block->getUrl("pub/media/feed/")?>7.png>

                        <div class="info">
                            <span class="tag blog">Blog</span>
                            <h4>Research and Development: Motion System and Tool-Changer</h4>
                        </div>

                    </a>
                </li>

                <li data-placement="8" class="column" id="9" style="display: none;">
                    <a href="https://e3d-online.com/all-products?cat=371">
                        <img src="<?php echo $block->getUrl("pub/media/feed/")?>8.png">
                        <div class="info">
                            <span class="tag product">New Product</span>
                            <h4>Rolson Tools now in stock!</h4>
                        </div>
                    </a>
                </li>
                <li class=" column" id="10" style="display: none;" >
                    <a href="https://e3d-online.com/blog/?p=528">

                        <img src="<?php echo $block->getUrl("pub/media/feed/")?>9.png">

                        <div class="info">
                            <span class="tag blog">Blog</span>
                            <h4>Hi, E3D here. We need to talk to you about groovemount.</h4>
                        </div>

                    </a>
                </li>

                <li data-placement="10" class=" column" id="11" style="display: none;">
                    <a href="https://e3d-online.com/catalogsearch/result/?q=duet">
                        <img src="<?php echo $block->getUrl("pub/media/feed/")?>10.png">
                        <div class="info">
                            <span class="tag product">New Product</span>
                            <h4>Duet products now in stock!</h4>
                        </div>
                    </a>
                </li>
            <div class="row-slider-scroll range-slider" >
                    <div class="center-scroll">
                        <input class="range-slider__range" type="range" min="0" max="5" step="1">
                    </div>
            </div>


         </div>

        </div>
    </ul>
<script>

    require(['jquery'],function ($) {

        $('.range-slider__range').val(0);



        $('.range-slider__range').change(function () {

            $('.scroll-container').css('width',parseInt($('.scroll-container').width()) + 50 );


        })

    })
</script>
</div>
</div>