

        <form class="form subscribe" novalidate="novalidate" action="https://e3d-online.com/newsletter/subscriber/new/" method="post" id="newsletter-validate-detail">
            <div class="field newsletter">
                <span class="subscribe-head">Register for our Mailing List</span>
                <div class="control">
                    <input name="name" type="text" id="name" placeholder="Your Name" data-validate="{required:true}">

                    <input name="email" type="email" id="newsletter" placeholder="Your Email" data-validate="{required:true, 'validate-email':true}">

                    <div id="agreement-box" class="field choice agreement" style="margin: 22px 0 0">
                        <input type="checkbox" id="agreement" name="agreement" class="checkbox" required="">
                        <label for="agreement"><span>I agree to the <a href="https://e3d-online.com/terms-condition/" target="_blank">terms</a> and <a href="https://e3d-online.com/privacy-policy/ target=" _blank""="">privacy policy</a></span></label>
                    </div>
                    <div id="add-to-mailing-list-box" class="field choice add-to-mailing-list" style="margin: 22px 0 0">
                        <input type="checkbox" id="add-to-mailing-list" name="add-to-mailing-list" class="checkbox" required="">
                        <label for="add-to-mailing-list"><span>Yes please add me to your mailing list</span></label>
                    </div>
                </div>
            </div>
            <div class="actions">
                <a class="action subscribe  btn-submit-bot" title="Submit" type="submit">
                    <span>Submit</span>
                </a>
                <div class="subscribe-footer-msg">Promise not to send junk</div>
            </div>
        </form>

        <script>
            require([
                'jquery'
            ], function($){
                $('form#newsletter-validate-detail').on('submit', function(){
                    if ($(this).valid()) {
                        ga('send', 'event', 'Mailing_List', 'Submission');
                    }
                })
            })
        </script>
