



            <div class="columns">
                <div class="column">
                    <ul class="list-unstyled">
                        <li class="interesting-info-head footer-heading">Interesting Info</li>
                        <li><a href="https://e3d-online.com/about">About-E3D</a></li>
                        <li><a href="https://e3d-online.com/next-day-delivery">Delivery Info</a></li>
                        <li><a href="https://e3d-online.com/blog">Blog</a></li>
                        <li><a href="https://forum.e3d-online.com" target="_blank">E3D Forum</a></li>
                    </ul>
                </div>
                <div class="column">
                    <ul class="list-unstyled">
                        <li class="service-info-head footer-heading">Customer Service</li>
                        <li><a href="https://e3d-online.dozuki.com/" target="_blank">Documentation</a></li>
                        <li><a href="https://e3d-online.com/contact">Contact Us</a></li>
                        <li><a href="https://e3d-online.com/business-to-business-information">B2B Information</a></li>
                        <li><a href="https://e3d-online.com/resellers">Genuine E3D Reseller</a></li>
                    </ul>
                </div>
                <div class="column">
                    <ul class="list-unstyled">
                        <li class="other-info-head footer-heading">Other Information</li>
                        <li><a href="https://e3d-online.com/privacy-policy-cookie-restriction-mode">Privacy and Cookie Policy</a></li>
                        <li><a href="https://e3d-online.com/return-policy">Return Policy</a></li>
                        <li><a href="https://e3d-online.com/terms-condition">Terms &amp; Conditions</a></li>
                        <li><a href="https://e3d-online.com/sitemap">Sitemap</a></li>
                    </ul>
                </div>
            </div>







    <div class="columns">
        <div class="footer-logo container">
            <img src="https://static.e3d-online.com/static/version1540978787/frontend/E3donline/default/en_GB/images/madeingo.png" alt="made in britain">
        </div>
    </div>


<script type="text/javascript">
    requirejs(['jquery'],function(jQuery){

        jQuery('.zEWidget-launcher').ready(function(){
            setTimeout(function () {
                var zend = jQuery('.zEWidget-launcher').contents().find('body').find('#Embed').find('.src-component-Launcher-label');
                zend.html('Help / Report an Issue');
                jQuery('.zEWidget-launcher').css('width','274px');
            }, 1000);

        });
    });
</script>