<div class="top-right-wrapper">

<div data-block="minicart" class="minicart-wrapper">
    <a class="action shopping-basket tooltip is-tooltip-bottom" href="<?= /* @escapeNotVerified */ $block->getShoppingCartUrl() ?>"
       data-bind="scope: 'minicart_content'"
       data-tooltip="You have no items in your shopping cart."
    >
        <i class="material-icons icon-top">shopping_basket</i>
        <span class="counter qty empty" id="counters"
              data-bind="css: { empty: !!getCartParam('summary_count') == false }, blockLoader: isLoading">
            <span class="counter-number"><!-- ko text: getCartParam('summary_count') --><!-- /ko --></span>
            <span class="counter-label">
            <!-- ko if: getCartParam('summary_count') -->
                <!-- ko text: getCartParam('summary_count') --><!-- /ko -->
                <!-- ko i18n: 'items' --><!-- /ko -->
            <!-- /ko -->
            </span>
        </span>
    </a>
    <?php if ($block->getIsNeedToDisplaySideBar()): ?>
        <div class="block block-minicart"
             data-role="dropdownDialog"
             data-mage-init='{"dropdownDialog":{
                "appendTo":"[data-block=minicart]",
                "triggerTarget":".showcart",
                "timeout": "2000",
                "closeOnMouseLeave": false,
                "closeOnEscape": true,
                "triggerClass":"active",
                "parentClass":"active",
                "buttons":[]}}'>
            <div id="minicart-content-wrapper" data-bind="scope: 'minicart_content'">
                <!-- ko template: getTemplate() --><!-- /ko -->
            </div>
            <?= $block->getChildHtml('minicart.addons') ?>
        </div>
    <?php endif ?>
    <script>
        window.checkout = <?= /* @escapeNotVerified */ $block->getSerializedConfig() ?>;
    </script>
    <script type="text/x-magento-init">
    {
        "[data-block='minicart']": {
            "Magento_Ui/js/core/app": <?= /* @escapeNotVerified */ $block->getJsLayout() ?>
        },
        "*": {
            "Magento_Ui/js/block-loader": "<?= /* @escapeNotVerified */ $block->getViewFileUrl('images/loader-1.gif') ?>"
        }
    }
    </script>
</div>
    <div class="switcher currency switcher-currency " id="switcher-currency">

        <a class="actions dropdown options switcher-options active">

            <div class="action toggle switcher-trigger currency-tooltip-bottom" aria-describedby="tooltip-5" id="switcher-currency-trigger">
                <strong class="language-GBP">
                    <span><i class="fa fa-gbp fa-lg icon-top-3" aria-hidden="true"></i></span>
                </strong>
            </div>

            <ul class="dropdown switcher-dropdown" style="display:none">
                <li class="currency-label">Choose Your Currency:</li>
                <li class="currency-USD switcher-option">
                    <a href="#" data-post="{&quot;action&quot;:&quot;https:\/\/e3d-online.com\/directory\/currency\/switch\/&quot;,&quot;data&quot;:{&quot;currency&quot;:&quot;USD&quot;,&quot;uenc&quot;:&quot;aHR0cHM6Ly9lM2Qtb25saW5lLmNvbS8,&quot;}}">$                        </a>
                </li>
                <li class="currency-EUR switcher-option">
                    <a href="#" data-post="{&quot;action&quot;:&quot;https:\/\/e3d-online.com\/directory\/currency\/switch\/&quot;,&quot;data&quot;:{&quot;currency&quot;:&quot;EUR&quot;,&quot;uenc&quot;:&quot;aHR0cHM6Ly9lM2Qtb25saW5lLmNvbS8,&quot;}}">€                        </a>
                </li>
            </ul>
        </a>
    </div>
    <div class="other-head ">
    <span class="fab">
        <a class="user-tooltip-bottom" href="https://e3d-online.com/customer/account/">
            <i class="material-icons icon-top-2">person</i>
        </a>
    </span>
        <div class="myaccount-dropdown" style="display: none">
            <ul>
                <li><a href="https://e3d-online.com/customer/account/login/">Login/Register<i class="fa fa-sign-in" aria-hidden="true"></i></a></li>
                <li><a href="https://e3d-online.com/sales/order/history/">Orders<i class="fa fa-archive" aria-hidden="true"></i></a></li>
                <li><a href="https://e3d-online.com/customer/address/">Address<i class="fa fa-address-book" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>

</div>
<script>
    require(['jquery'],function ($) {
        var ishovered  = false;


        $('.user-tooltip-bottom').mouseover(function () {
            ishovered = true;
            $('.myaccount-dropdown').show();
        })
        $('.myaccount-dropdown').mouseleave(function () {
            $('.myaccount-dropdown').hide();
        })
        $('.main-products').mouseover(function () {
            $('.myaccount-dropdown').hide();
        })

        $('.switcher-options').mouseover(function () {
            $('.switcher-dropdown').show();
        })
        $('.switcher-options').mouseover(function () {
            $('.switcher-dropdown').hide();
        })


    })
</script>
