<h1><?php echo $block->sayHello() ?></h1>

<table class="table is-bordered ">
    <tr>
        <th class="test-id">Id</th>
        <th class="test-name">Name</th>
        <th>Create at</th>
    </tr>
    <?php
    foreach ($block->getTestCollection() as $key=>$test){

        echo '<tr>
                    <td>'.$test->getId().'</td>
                    <td>'.$test->getName().'</td>
                    <td>'.$test->getCreateAt().'</td>
                  </tr>';

    }
    ?>
</table>
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$catId = 42; // Parent Category ID
$subcategory = $objectManager->create('Magento\Catalog\Model\Category')->load($catId);
$subcats = $subcategory->getChildrenCategories();
$_helper = $this->helper('Magento\Catalog\Helper\Output');

$index= array();
foreach ($subcats as $key=>$subcat){

    $_category = $objectManager->create('Magento\Catalog\Model\Category')->load($subcat->getId());
    $_outputhelper = $this->helper('Magento\Catalog\Helper\Output');
    if ($_imgUrl = $_category->getImageUrl()) {
        $_imgHtml = '<img src="' . $_imgUrl . '" />';
        $_imgHtml = $_outputhelper->categoryAttribute($_category, $_imgHtml, 'image');
    }

    array_push($index,$key);
    echo "<pre>";
    print_r($subcat->getUrl());
    echo "</pre>";
    echo $_imgHtml;
}

?>


