<div class="block block-search">
    <div class="block block-content">
        <form class="form minisearch" id="search_mini_form" action="https://e3d-online.com/catalogsearch/result/" method="get">
            <div class="field search">
                <a class="browse-button" href="https://e3d-online.com/all-products/">Browse All</a>
                <div class="search-input">
                    <input id="search" type="text" name="q" value="" placeholder="Search Products" class="input-text" maxlength="128" role="combobox" aria-haspopup="false" aria-autocomplete="both" autocomplete="off">
                </div>

            </div>
            <div class="actions">
                <button type="submit" title="Search" class="action search" disabled="">
                    <span>Search</span>
                </button>
            </div>
        </form>
    </div>
</div>